
    .column{
        float:left;
        width:50%;
        padding:10px;
        height:400px;
        border:1px solid black;
    }
.sender{
    background-color:black;
    color:white;
    font-style:oblique;
}
.article1{
    margin-left:10px;
}
.a{
    width:0.5px;
    height:9px;
    border:1.5px solid black;
    background:black;
    margin-left:40px;
}
.b{
    border:1px solid black;
    background:black;
    margin:1px;
}
.c{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.d{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.e{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.f{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.g{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.h{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.i{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.j{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.k{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.l{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.m{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.n{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.o{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.p{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.q{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.r{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.s{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.t{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.u{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.v{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.w{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.x{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.y{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.z{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.num{
    margin-left:53px;
}

.delivery{
    background-color:black;
    color:white;
    font-style:oblique;
}
.main{
    display:flex;
}
.ax{
    width:90%;
    text-align:left;
}
.line{
    width:100%;
    height: 0.5px;
    border:0.5px solid black;

}