
    .column{
        display:flex;
        width:50%;
        justify-content:center;
    }
    .column-a{
        border:1px solid black;
        margin:1px;
        width:45%;
    }
    .column-b{
        border:1px solid black;
        margin:2px;
        width:54%;
    }
.sender{
    background-color:black;
    color:white;
    font-style:oblique;
}
.article1{
    margin-left:10px;
}
.a{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin-left:40px;
}
.b{
    border:1px solid black;
    background:black;
    margin:1px;
}
.c{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.d{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.e{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.f{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.g{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.h{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.i{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.j{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.k{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.l{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.m{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.n{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.o{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.p{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.q{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.r{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.s{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.t{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.u{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.v{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.w{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.x{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.y{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.z{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1px;
}
.aa{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ab{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ac{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ad{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ae{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.af{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ag{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ah{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ai{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.aj{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ak{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.al{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.am{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.an{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ao{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ap{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.aq{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ar{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.as{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.at{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.au{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.av{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.aw{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ax{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.ay{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}
.az{
    width:0.5px;
    height:9px;
    border:1px solid black;
    background:black;
    margin:1.5px;
}

.num{
    margin-left:53px;
}

.delivery{
    background-color:black;
    color:white;
    font-style:oblique;
}
.a-sig{
    margin-left:4px;
}
.main{
    display:flex;
}
.axx{
    width:80%;
    text-align:left;
    margin-left:4px;
}
.received{
    margin-left:4px;
}
.line{
    width:100%;
    height: 0.2px;
    border:0.5px solid black;
    margin-bottom:0.5px;
}
.di{
    display:flex;
}
.d-left{
    width:80%;
    margin-left:6px;
}
.final{
    display:flex;
}
.final-left{
    width:60%;
}
.deli{
    margin-left:20px;
}